version: 2.1
executors:
  docker-publisher:
    environment:
      IMAGE_NAME: vishnusk/devsecops-lab
    docker:
      - image: circleci/buildpack-deps:trusty
jobs:
  PR-branch:
    executor: docker-publisher
    steps:
      - checkout
      - run:
          name: PR Branch number
          command: |
            echo "$CIRCLE_PR_NUMBER"
            echo "$CIRCLE_BRANCH"
      - run: |
          if [ "$CIRCLE_BRANCH" = "develop" ]; then
            circleci-agent step halt
          fi
  docker-build-publish:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME .
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            IMAGE_TAG="v${CIRCLE_BUILD_NUM}"
            echo "$DOCKER_PWD" | docker login -u "$DOCKER_UNAME" --password-stdin 
            docker tag $IMAGE_NAME:latest $IMAGE_NAME:$IMAGE_TAG
            docker push $IMAGE_NAME:latest
            docker push $IMAGE_NAME:$IMAGE_TAG
workflows:
  version: 2
  build-master:
    jobs:
      - PR-branch
      - docker-build-publish:
          context:
            - test
          requires:
            - PR-branch